<div class="container-class">
  <div class="center-content">
    <mat-card class="login-class">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-card-content>
          <mat-form-field>
            <mat-label for="username">Username</mat-label>
            <input type="text" matInput placeholder="Enter Username" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" autocomplete="off" required />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required" class="required-class">Username is required</div>
            </div>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field>
            <mat-label for="password">Password</mat-label>
            <input type="password" matInput placeholder="Enter Password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required" class="required-class">Password is required</div>
            </div>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <button [disabled]="loading" mat-raised-button color="primary" class="mr-3">Login</button>
          <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
          <button mat-raised-button color="primary" [routerLink]="['/register']">Register</button>
        </mat-card-content>

      </form>
    </mat-card>
  </div>
</div>
