<mat-toolbar color="primary" class="toolbar-class">
  <mat-toolbar-row>
    <div class="app-title">Customer Feedback - Your Opinion Matters</div>
    <!-- <a [routerLink]="['/home']" class="app-title">Customer Feedback - Your Opinion Matters</a> -->
    <span class="example-spacer"></span>
    <!-- <button mat-button [routerLink]="['/login']" [hidden]="hideElement" class="logout-text">Logout</button>
    <mat-icon mat-button [routerLink]="['/login']" [hidden]="hideElement" class="logout-icon">exit_to_app</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>
